---
Language:          Cpp
IndentWidth:       4
TabWidth:          4
UseTab:            Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels:  true
ColumnLimit:       88
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
---
